*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 1vh auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background: linear-gradient(to right, seagreen,teal);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.add-event-section {
    height: 80vh;
    width: 30vw;
    border: 2px solid black;
    background-color: white;
    border-radius: 2vh;
}

.show-event-section {
    height: 80vh;
    width: 60vw;
    border: 2px solid black;
    background-color: white;
    border-radius: 2vh;
}