*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 1vh auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background: linear-gradient(to right, seagreen,teal);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.add-event-section {
    height: 80vh;
    width: 30vw;
    border: 2px solid black;
    background-color: white;
    border-radius: 2vh;
}

.show-event-section {
    height: 80vh;
    width: 60vw;
    border: 2px solid black;
    background-color: white;
    border-radius: 2vh;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    gap: 2vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

form h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 110, 255);
    margin: 2vh 0;
}

form input{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5vh 0.5vw;
    border: 1px solid black;
    border-radius: 1vmin;
}

form select {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5vh 0.5vw;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 1vmin;
}

form textarea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: none;
    height: 20%;
    border-radius: 2vmin;
    padding: 1vh;
    border: 1px solid black;
}

form button{
    color: white;
    font-size: 1.5rem;
    padding: 1vh;
    background-color: rgb(0, 110, 255);
    border: 1px solid white;
    border-radius: 2vmin;
    font-weight: 550;
    cursor: pointer;
}

.show-event-section h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 110, 255);
    margin: 2vh 2vw;
    font-size: 2rem;
}

.card {
    height: 30vh;
    width: 25vw;
    border: 2px solid black;
    border-radius: 2vmin;
    background: linear-gradient(to right, rgb(230, 221, 221), rgb(231, 251, 255));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.card h4{
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2vh 1vw;
}
.card .date{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: .5vh 1vw;
}
.card label{
    background-color: rgb(0, 110, 255);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1vh 1vw;
    border-radius: 2vmin;
    margin: .5vh 1vw;
}
.card .des{
    text-align: justify;
    font-size: 0.8rem;
    width: 80%;
    height: 30%;
    margin: 1vh 1vw;
}

.grid-card {
    display: grid;
    height: 80%;
    grid-template-columns: auto auto;
    gap: 2vw;
    margin: 1vh 2.5vw;
    overflow-y: scroll;
}

.cancel-btn {
    position: relative;
    left: 45vh;
    top: 1vh;
    background-color: rgb(63, 0, 0);
    font-size: 1.1rem;
    border-radius: 100%;
    padding: 0.5vmin;
    cursor: pointer;
}
