*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 1vh auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}